/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    margin: 0;
    padding: 0;
   }

  .body{
      margin: 0;
      box-sizing: border-box;
      font-family: 'Lato';
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      color: black;
  }

  img{
      max-width: 100%;
      height: auto;
  }

  .wrapper{
    margin: 0 auto;
    max-width: 1060px;
}

.wrapper_full{
    max-width: 1262px;
    margin: 0 auto;

}

.section_title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;

}
.section_title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*header start*/
  .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: 0.2s linear;
      padding-bottom: 20px;
      z-index: 999;
  }

  .header_active{
    background: #0E1D28;
  }

  .header_wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 56px;
  }

  .header_nav{
      display: flex;
      flex-wrap: wrap;
      text-decoration: none;
  }

  .header_list{
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      list-style-type: none;
  }

  .header_item{
      margin-right: 82px
  }

  .header_item:last-child{
      margin-right: 0;
  }

  .header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
  }

  .header_link:hover, .header_link:focus, .header_link:active{
      opacity: 0.75;
      color: violet;
  }
/*header end*/

/*main start*/

.intro{
    min-height: 100vh;
    background: url(../images/hero.png) no-repeat center;
    background-size: cover;
    padding-bottom: 223px;
}

.intro_wrapper{
    box-sizing: border-box;
    padding-top: 256px;
}

.intro_h1{
    color: white;
    font-size: 50px;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro_text{
    color: white;
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}

.search_form{
    border: none;
}

.search_form_wrap{
    border: none;
}

.search_form_info{
    display: flex;
    flex-wrap: wrap;
}

.search_form_field{
    width: 297px;
    background: transparent url(../images/Oval.png) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    outline: none;
}

.search_form_field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color:white;
}

.serch_form_submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    background: #1B7DFF;
    color: white;
    border: 0;
}

.serch_form_submit:hover,.serch_form_submit:focus,.serch_form_submit:active{
    background:#0e2e58;
}

/*benefit start*/
.benefit{
    margin-bottom: 131px;
}
.benefit_wrap{
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefit_tittle{
    width: 1162px;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    font-weight: 500px;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 0px 88px 100px;
    transform: translateY(-100%);
    background-color: white;

}

.benefit_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefit_card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefit_card-pic{
    margin-bottom: 37px;
    max-width: 66px;
}

.benefit_h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefit_text{
    margin-bottom: 39px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.benefit_card-more{
    display: inline-block;
    padding-right: 59px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../images/Shape.png) no-repeat 95% center;
    transition: 0.2s all;
}

.benefit_card-more:hover, .benefit_card-more:focus{
    background: url(../images/Shape.png) no-repeat right center;
}
/*benefit end*/

/*places start*/
.places{
    margin-bottom: 131px;
}
.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places_title{
    margin-right: 15px;
}
.places_view-all{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    display: inline-block;
    text-decoration: none;
    color: #006DFE;
    background: url(../images/Shape.png) no-repeat 95% center;
    transition: 0.2s all;
}

.places_view-all:hover, .places_view-all:focus{
    background: url(../images/Shape.png) no-repeat right center;
}

.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.places_card{
    position: relative;
    overflow: hidden;
}

.places_card:hover .places_card-pic{
    transform: scale(1.1);
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2s;
}

.places_card-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places_card_lg{
    grid-column: span 3;
    margin: 0;
}

.places_card_sm{
    grid-column: span 2;
    margin: 0;
}

.places_card-pic{
    width: 100%;
    transition: 0.15s;
}

.places_card-pic_sm{
    height: 283px;
    object-fit: cover;
}

.places_card-pic_lg{
    height: 354px;
    object-fit: cover;
}

.places_card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*places end*/

/*description start*/
.tours{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 139px;
}
.tours_tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
    width: 100%;
}

.tour_info{
    padding-left: 47px;
}

.tour_title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_description{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;

}

.tour_img{
    width: 100%;
}

.tour_img-pic{
    width: 100%;
}

.tour_link{
    padding-right: 59px;
    text-decoration: none;
    color: #006DFE;
    background: url(../images/Shape.png) no-repeat 95% center;
    transition: 0.2s all;
}

.tour_link:hover, .tour_link:focus{
    background: url(../images/Shape.png) no-repeat right center;
}

/*top places start*/

.top{
    margin-bottom: 85px;
}

.top_title{
    margin-bottom: 54px;
}

.top_card{
    display: flex;
    flex-direction: column;
}

.top_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top_card-pic{
    position: relative;
    width: 100%;
}

    
.top_cards-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.top_card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding: 16px 25px;
    margin: 0 auto 0 0;
}

.top_cards-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../images/heart-icon.png) no-repeat right;
    margin-right: 10px;
}

.top_cards-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../images/commet-icon.png) no-repeat right;
    margin-right: 25px;
}

.top_card_desc{
    margin-top: 45px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;  
}

.top_card_more{
    width: 80px;
    font-size: 16px;
    padding: 12px 25px;
    background: #1B7DFF;
    color: white;
    text-decoration: none;
    margin: auto 0 0 0;
}

.top_card_more:hover, .top_card_more:focus, .top_card_more:active{
    background-color: #0e2e58;
}
/*top places end*/

/*video start*/

.video_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item{
    padding-top: 56.25%;
}

.video_elem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*video end*/

/*footer start*/
.footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer_item{
    display: flex;
    flex-wrap: wrap;
}
.footer_logo{
    width: 50%;
}

.footer_nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_menu{
    list-style-type: none;
}

.footer_menu_link{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: .2s;
}

.footer_menu_link:hover, .footer_menu_link:focus, .footer_menu_link:active{
    color: tomato;
    opacity: .75;
}

.footer_menu_title{
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: white;
}

/*footer end*/